@tailwind base;

@tailwind components;

@tailwind utilities;

input[type='radio'] { 
    transform: scale(1.5); 
}

input[type="range"] {
    cursor: pointer;
    width: 15rem;
    outline: none;
    border: none;
}

html {
    overflow: hidden;
    background: linear-gradient(105deg,#fab2ff, #1e08e6);
}